@model SuperAwesomeApp.Models.SuperAwesomeClass

@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Measurements","Index","Measurement")

<br/>
    Please enter a number to convert to word.
<br/>
@using(Html.BeginForm("Results", "Home") )
{
    @Html.EditorFor(x => x.Input)

    <input type="submit" value="Submit"/>
    <br/>

}
<br/>
    Please enter inches to convert to feet.
<br/>
@using (Html.BeginForm("RomanNumeral", "Home"))
{
    @Html.EditorFor(x => x.Input)
    <input type="submit" value="Submit"/>
    <br/>
}