@model SuperAwesomeApp.Models.SuperAwesomeClass

@{
    ViewBag.Title = "RomanNumeral";
    Layout = "~/views/shared/_Layout.cshtml";
}

<h2>That should do it</h2>
@Html.DisplayFor(x => x.RomanNumeral)
